<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Join a Room</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Join Code" formControlName="code" required>
          <mat-error>
            Please provide a valid room join code
          </mat-error>
        </mat-form-field>
        <mat-error class="invisible" [ngClass]="{'visible': this.error}">
          {{this.error}}
        </mat-error>
        <button mat-raised-button color="primary">Join room</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
