<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="container" fxLayout="row wrap">
  <div class="card-container" *ngFor="let room of rooms" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-lg="25%">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <span class="title-material-icons material-icons">
            voice_chat
          </span>
        </div>
        <mat-card-title>{{room.name}}</mat-card-title>
        <mat-card-subtitle>{{room.type + " - " + room.host.firstName + " " + room.host.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <p>
          {{(room.description.length > maxLength) ? (room.description | slice:0:maxLength) + '..' : (room.description)}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div *ngIf="!appComponent.mobileQuery.matches">
          <button mat-button (click)="navigateToRoom(room.id)">Join</button>
          <button mat-button (click)="copyIdToClipboard(room.id)">Copy Join Code</button>
          <button mat-button (click)="deleteRoom(room.id)"
                  *ngIf="this.room.host.email == this.currentUser.email">Delete
          </button>
          <button mat-button (click)="leaveRoom(room.id)"
                  *ngIf="this.room.host.email != this.currentUser.email">Leave
          </button>
        </div>

        <div *ngIf="appComponent.mobileQuery.matches">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-button (click)="navigateToRoom(room.id)">Join</button>
            <button mat-button (click)="copyIdToClipboard(room.id)">Copy Join Code</button>
            <button mat-button (click)="deleteRoom(room.id)"
                    *ngIf="this.room.host.email == this.currentUser.email">Delete
            </button>
            <button mat-button (click)="leaveRoom(room.id)"
                    *ngIf="this.room.host.email != this.currentUser.email">Leave
            </button>
          </mat-menu>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="!loading && this.rooms.length === 0" class="info-card">
    <app-no-rooms-page></app-no-rooms-page>
  </div>

</div>

