<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="container" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div class="card-container" *ngFor="let room of rooms" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <span class="title-material-icons material-icons">
            voice_chat
          </span>
        </div>
        <mat-card-title>{{room.name}}</mat-card-title>
        <mat-card-subtitle>{{room.type + " - " + room.host.firstName + " " + room.host.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <p>
          {{(room.description.length > maxLength) ? (room.description | slice:0:maxLength) + '..' : (room.description)}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="navigateToRoom(room.id)">Join</button>
        <button mat-button (click)="copyIdToClipboard(room.id)">Copy Join Code</button>
        <button mat-button (click)="deleteRoom(room.id)"
                *ngIf="this.room.host.email == this.currentUser.email">Delete
        </button>
        <button mat-button (click)="leaveRoom(room.id)"
                *ngIf="this.room.host.email != this.currentUser.email">Leave
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card *ngIf="!loading && this.rooms.length === 0" class="info-card">
    <mat-card-header>
      <div mat-card-avatar>
        <span class="title-material-icons material-icons">
          home
        </span>
      </div>
      <mat-card-title>Welcome to {{this.title}}</mat-card-title>
      <mat-card-subtitle>Information</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <h3>
        Looks like you are not in any rooms yet.<br>
        You can use the buttons on the left side to either:
        <ul>
          <li>Create a Room of your own</li>
          <li>Join a Room of someone else</li>
        </ul>
      </h3>
    </mat-card-content>
  </mat-card>

</div>

