body{

}

.material-icons{
  padding-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.env{
  margin-left: 50px;
}

.container {
  min-height: 100vh;
}

.is-mobile .toolbar {
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav-content{
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.log-button{
  margin-left: 15px;
}

.app-header{
  z-index:1000;
  height: 8vh;
  max-height: 70px;
}
