.material-icons{
  padding-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.env{
  margin-left: 50px;
}

.container {
  height: 100%;
}

.is-mobile .toolbar {
  z-index: 2;
}

.sidenav-container {
  height: 95vh;
}

.log-button{
  margin-left: 15px;
}

.app-header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
