<div class="container">
  <app-navbar></app-navbar>

  <div class="container-fluid">
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened *ngIf="authenticationService.currentUserValue">
        <mat-nav-list>
          <a mat-list-item [routerLink]="''"> Rooms </a>
          <a mat-list-item [routerLink]="'/create'"> Create a new Room </a>
          <a mat-list-item [routerLink]="'/join'"> Join a Room </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
