<mat-toolbar color="primary" class="app-header">
  <div [routerLink]="''">{{this.title}}</div>
  <h2 class="env">{{this.env.name}}</h2>
  <span class="spacer"></span>
  <a mat-button routerLink="login" routerLinkActive="active" *ngIf="!authenticationService.currentUserValue">Log in</a>
  <a mat-button mat-raised-button routerLink="register" routerLinkActive="active"
     *ngIf="!authenticationService.currentUserValue">Register</a>
  <div *ngIf="authenticationService.currentUserValue">
    {{authenticationService.currentUserValue.firstName + " " + authenticationService.currentUserValue.lastName}}
  </div>
  <a mat-button mat-raised-button (click)="logout()" *ngIf="authenticationService.currentUserValue">Log out</a>
</mat-toolbar>

