.container-card {
  height: 100%;
  margin: 1% 1%;
}

.container {
  display: grid;
  width: 20%;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  align-items: center;
  justify-content: space-between;
}

#agora_local {
  /*position: absolute;*/
  /*bottom: 50px;*/
  /*right: 50px;*/
  /*height: 250px;*/
  /*width: 300px;*/
}

.remote_calls {
}

.videostream {
  margin: 50px;
  height: 250px;
  border: 1px solid darkgray;
  border-radius: 10px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.username {
}


.controls {
  position: absolute !important;
  left: 50%;
  bottom: 100px;
}

.inner-controls {
  background-color: black;
  border-radius: 25px;
  position: relative;
  left: -50%;
}

button {
  margin: 0 auto 0 auto;
  width: 50px;
  height: 50px;
}

.red-button {
  color: red;
}

.host {
  /*border: 1px solid darkgray;*/
}

.grayed-out-text {
  color: gray;
}

a {
  text-decoration: none;
  color: white;
}

.chat {
  position: absolute;
  right: 0;
  top: 200px;
  width: 300px;
  height: auto;
}

webcam {
  display: none;
}

mat-card-title > mat-icon {
  cursor: pointer;
}
