<h2 class="room-name">{{room.name}}
  <mat-icon (click)="openInformationDialog()">info</mat-icon>
</h2>

<div class="container" fxLayout="row" fxLayoutGap="16px grid">
  <div fxFlex="33%" fxFlex.gt-lg="20%" fxFlex.lt-lg="50%">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <span class="title-material-icons material-icons">
            account_circle
          </span>
        </div>
        <mat-card-title>{{authenticationService.currentUserValue.firstName + " "
        + authenticationService.currentUserValue.lastName}}</mat-card-title>
        <mat-card-subtitle>{{authenticationService.currentUserValue.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="videostream-container">
          <div id="agora_local" class="" [class.host]="isCurrentUserHost()">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-container" fxFlex="33%" fxFlex.gt-lg="20%" fxFlex.lt-lg="50%" *ngFor="let remoteCall of remoteCalls">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
            <span class="title-material-icons material-icons">
              account_circle
            </span>
        </div>
        <mat-card-title>{{remoteCall.user?.firstName + remoteCall.user?.lastName}}</mat-card-title>
        <mat-card-subtitle>{{remoteCall.user?.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="remote_calls" [id]="remoteCall.stream"
             [class.host]="isCurrentUserHost()">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="controls">
  <div class="inner-controls">
    <button mat-icon-button (click)="exitCall()">
      <span class="material-icons red-button">
        close
      </span>
    </button>
    <button mat-icon-button (click)="toggleMute()" [class.red-button]="roomState.micOff">
      <span class="material-icons">
        {{roomState.micOff ? 'mic_off' : 'mic'}}
      </span>
    </button>
    <button mat-icon-button (click)="toggleVideo()" [class.red-button]="roomState.cameraOff">
      <span class="material-icons">
       {{roomState.cameraOff ? 'videocam_off' : 'videocam'}}
      </span>
    </button>
    <button mat-icon-button (click)="toggleSound()" [class.red-button]="roomState.soundOff">
      <span class="material-icons">
        {{roomState.soundOff ? 'headset_off' : 'headset'}}
      </span>
    </button>
    <button mat-icon-button (click)="toggleChat()">
      <span class="material-icons">
        {{roomState.chatOff ? 'speaker_notes_off' : 'chat'}}
      </span>
    </button>
    <button mat-icon-button (click)="openSettings()">
      <span class="material-icons">
        settings
      </span>
    </button>
  </div>
</div>

<webcam [trigger]="triggerObservable()" [imageQuality]="0.10" (imageCapture)="handleImage($event)"></webcam>
<app-chat class="chat" [messages]="this.imageService.messages" *ngIf="!this.roomState.chatOff"></app-chat>


