<mat-card class="p-d-flex container-card mat-elevation-z4">

  <mat-card-title>
      {{room.name}}
      <mat-icon matTooltip="Host: {{room.host.lastName}} {{room.host.firstName}}">info</mat-icon>
      <mat-icon (click)="copyIdToClipboard(room.id)" matTooltip="Copy Join Code">file_copy</mat-icon>
  </mat-card-title>

  <div class="container p-mr-10">
    <div class="videostream-container">
      <div id="agora_local" class="videostream"
           [class.host]="isCurrentUserHost()">
      </div>
      {{authenticationService.currentUserValue.firstName}}
    </div>
    <div class="videostream-container" *ngFor="let remote of remoteCalls;" >
      <div class="remote_calls videostream" [id]="remote"
           [class.host]="isCurrentUserHost()">
      </div>

    </div>


  </div>

  <div class="controls">
    <div class="inner-controls">
      <button mat-icon-button (click)="exitCall()">
      <span class="material-icons red-button">
        close
      </span>
      </button>
      <button mat-icon-button (click)="toggleMute()" [class.red-button]="roomState.micOff">
      <span class="material-icons">
        {{roomState.micOff ? 'mic_off' : 'mic'}}
      </span>
      </button>
      <button mat-icon-button (click)="toggleVideo()" [class.red-button]="roomState.cameraOff">
      <span class="material-icons">
       {{roomState.cameraOff ? 'videocam_off' : 'videocam'}}
      </span>
      </button>
      <button mat-icon-button (click)="toggleSound()" [class.red-button]="roomState.soundOff">
      <span class="material-icons">
        {{roomState.soundOff ? 'headset_off' : 'headset'}}
      </span>
      </button>
      <button mat-icon-button (click)="toggleChat()">
      <span class="material-icons">
        {{roomState.chatOff ? 'speaker_notes_off' : 'chat'}}
      </span>
      </button>
    </div>
  </div>

  <webcam [trigger]="triggerObservable()" [imageQuality]="0.10" (imageCapture)="handleImage($event)"></webcam>
  <app-chat class="chat" [messages]="this.imageService.messages" *ngIf="!this.roomState.chatOff"></app-chat>
</mat-card>


