
.containers{
  margin: 100px 50px 0 auto;
}

#agora_local{
  height: 350px;
  width: 500px;
  display: inline-block;
  border: 1px solid green;
}

.remote_calls{
  height: 350px;
  width: 500px;
  display: inline-block;
  border: 1px solid darkgray;
}

.controls{
  position: absolute !important;
  left: 50%;
  bottom: 50px;
}

.inner-controls{
  background-color: black;
  border-radius: 25px;
  position: relative;
  left: -50%;
}

button{
  margin: 0 auto 0 auto;
  width: 50px;
  height: 50px;
}
