
.containers{
  margin: 100px 50px 0 auto;
}

#agora_local{
  height: 350px;
  width: 500px;
  display: inline-block;
  border: 1px solid darkgray;
}

.remote_calls{
  margin-left: 50px;
  height: 350px;
  width: 500px;
  display: inline-block;
  border: 1px solid darkgray;
}

