.card-container{
  float: left;
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

.videostream-container{
  height: 100%;
}

#agora_local{
  height: 100%;
}

.remote_calls{
  height: 100%;
}

.username{
  position: relative;
  bottom: 30px;
  left: 20px;
  font-size: 150%;
}
