@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  text-align: center;
}

.success-toast{
  background-color: #4BB543;
  color: white;
}

.info-toast{
  background-color: #607d8b;
  color: white;
}

.error-toast{
  background-color: #f44336;
  color: white;
}
